@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

html {
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}

html, body {
     max-width:100%;
     overflow-x:hidden;
     text-align: center;
}

a {
	color:green;
	text-decoration: none;
}

a:hover {
	color:#C3FDB8;
}
div.banner {
	padding-top: 4em;
	padding-bottom: 0em;
	text-align: left;	
	max-width:940px;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
}
div.top {
	max-width:940px;
	padding-top: 0em;
	padding-bottom: 4em;	
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
}

div.top p{
	text-align: left;

}

div.section {
	max-width:940px;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
	padding-top: 2em;
	padding-bottom: 8em;
}

div.sidebyside {
	max-width:440px;
	display:inline-block;
	vertical-align: top;
	padding:0.3em;
	padding-top:4em;
}
div.sidebyside p{
	text-align: left;

}

div.sidebyside img.profile{
	height:150px;	
}


p.schoolname {
	padding-top: 0.4em;
	font-size: 100%;
}

p.degree{
	font-size: 70%;

}
div.top img.profile {
	width:250px;
	height:250px;
	padding:1em;
}

body {
	font-family: "Helvetica Neue", Arial, sans-serif;
	text-align: center;
	font-size: 180%;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

body, h1, h2, h3, p {
	margin: 0;
	padding: 0;	
	font-weight: 300;
}
h1, h2, h3{
	margin: 0;
	padding: 0;	
	font-weight: 400;
}

img.social {
	height: 90px;
	padding:10px;
}



h3 {
	font-weight: 400;
}

h1, h2, h3, p {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

h1{
}


h2 {
	color: green;
}

div#title {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: green;
	border-bottom: 2px solid white;
	z-index: 100;
	color:white;
}

div#titlewrapper {
	max-width:940px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;	
	text-align: left;	
}

ul#menu {
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}


ul#menu li.tit {
	border-left: 1px solid white;
}

ul#menu li {
	display: inline-block;
	vertical-align: bottom;
	width: 150px;
	font-size: 70%;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	padding-left:0.8em;
	text-align: left;	
}

ul#menu li a {
	text-decoration: none;
	color: white;
}

ul#menu li a:hover {
	color: #99ffcc;
}

h1 {
	font-size: 150%;
	padding: 0;
	margin: 0;
}

.highsidebyside {
	border: 2px solid green;
}

h1 .small {
	font-size: 80%;
}

div#bottom {
	background-color: #C3FDB8;
}
div.colored {
	background-color: #C3FDB8;
}

.useall {
	width:200px;
}

@media screen and (max-width: 30em) {

body {
	font-size:150%;
}

ul#menu li {
	display: inline-block;
	vertical-align: bottom;
	font-size: 70%;
	margin: 0;
	padding: 0;
	margin-top: 0.1em;
	margin-bottom: 0.3em;
	float: left;
	width: 50%;
	text-align:center;
}


ul#menu li.tit {
	text-align:center;
	border-left: 0px solid white;
	width: 100%;
	padding-left: auto;
	padding-right: auto;
	margin-left: auto;
	margin-right: auto;
}

div.sidebyside {
	padding-top:7.5em;

}

div.section {
	padding-top:6em;

}
div.banner {
	padding-top:5em;
	padding-left:0.4em;
	padding-right: 0.4em;

}

div.sp {
	padding-top:1em;
}
}